* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/************** HOME PAGE ***************/









/************** MENU PAGE ***************/


/************** CART PAGE ***************/


/************** CONTACT US PAGE ***************/


/************** CHECKOUT PAGE ***************/